@tailwind base;
@tailwind components;
@tailwind utilities;

/* simple container styles */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 10s ease infinite;
}

.fullscreen-welcome {
  position: fixed;
  inset: 0;
  z-index: 50;
  background: transparent;
}
